.product-card {
    width: 245px;
    padding: 20px 20px 30px 20px;
    /*  padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30p; */
    text-align: center;
}

.product-info {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #E1E1E1;
    text-align: left;
}

.product-name {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
}

.product-card-image {
    width: 100%;
}